h1, p, a, navbar-brand { /* set default font */
	font-family: 'Karla', sans-serif;
	color: #555;
}

/* font weights */
h1 {
	font-weight: 700;
}
p {
	font-weight: 400;
}

.navbar-custom {
	background-color: #52b788;
	padding: 20px;
}

.navbar-text {
	font-family: 'Karla', sans-serif; /* wasn't rendering properly in the top */
	color: white;
	margin-right: 10px; /* for the login form */
}

.navbar-brand {
	font-weight: 700;
	color: white;
}

.nav-item {
	color: white;
}

#login, #logout {
	font-family: 'Karla', sans-serif;
	margin-left: 10px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.info-card {
	font-family: 'Karla', sans-serif;
	height: 225px;
	padding: 30px;
	color: #555;
	background-color: #eee;
	border-radius: 15px;
	margin-bottom: 10px;
}

.plantlink {
	display: flex;
  	align-items: center;
	height: 80px;
	padding: 10px;
	padding-left: 20px;
	color: #555;
	background-color: #eee;
	border-radius: 15px;
	margin-bottom: 10px;
}

.plantlink a, .plantlink p {
	vertical-align: middle;
	font-size: 27px;
}

.usernameinput input {
	border: none;
	border-radius: 5px;
	padding: 5px;
	font-family: 'Karla', sans-serif;
}