h1, h2, h4, p, a, navbar-brand { /* set default font */
	font-family: 'Karla', sans-serif;
	color: #555;
}

/* font weights */
h1, h2 {
	font-weight: 700;
}
p {
	font-weight: 400;
}

.navbar-custom {
	background-color: #52b788;
	padding: 20px;
}

.navbar-text {
	font-family: 'Karla', sans-serif; /* wasn't rendering properly in the top */
	color: white;
	margin-right: 10px; /* for the login form */
}

.navbar-brand {
	font-weight: 700;
	color: white;
}

.nav-item {
	color: white;
}

#login, #logout {
	font-family: 'Karla', sans-serif;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.info-card {
	font-family: 'Karla', sans-serif;
	height: 225px;
	padding: 30px;
	color: #555;
	background-color: #eee;
	border-radius: 15px;
	margin-bottom: 10px;
}

.plantlink {
	display: flex;
  	align-items: center;
	height: 80px;
	padding: 10px;
	padding-left: 20px;
	color: #555;
	background-color: #eee;
	border-radius: 15px;
	margin-bottom: 10px;
}

.plantlink a, .plantlink p {
	vertical-align: middle;
	font-size: 27px;
}

.usernameinput input {
	border: none;
	border-radius: 5px;
	padding: 5px;
	font-family: 'Karla', sans-serif;
	margin-right: 10px;
}

.postli {
	background-color: #eee;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
	list-style-type: none;
}

.postli h4 {
	color: #000;
}

.respondli {
	background-color: #eee;
	margin-bottom: 10px;
	margin-left: 20px;
	padding: 10px;
	border-radius: 5px;
	list-style-type: none;
}

.postfocus {
	background-color: #eee;
	padding: 20px;
	padding-bottom: 9px;
	border-radius: 15px;
}

#like {
	background: #FF807C;
	border: 1px solid #FF807C;
}

#like:hover {
	background: #FFA099;
	border: 1px solid #FFA099;
}

#helpful {
	background: #F5D268;
	border: 1px solid #F5D268;
	color: #555;
}

#helpful:hover {
	background: #FFEFA2;
	border: 1px solid #FFEFA2;
	color: #555;
}

#wonder {
	background: #758FFC;
	border: 1px solid #758FFC;
}

#wonder:hover {
	background: #A2C4FC;
	border: 1px solid #A2C4FC;
}

#celebrate {
	background: #C184F1;
	border:1px solid #C184F1;
}

#celebrate:hover {
	background: #DB9EFF;
	border: 1px solid #DB9EFF;
}