<!DOCTYPE html>
<html>
	<head>
		<!-- Bootstrap CDN -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<!-- Karla Font -->
		<link rel="preconnect" href="https://fonts.gstatic.com"> 
		<link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,400;0,700;0,800;1,200;1,400;1,700;1,800&display=swap" rel="stylesheet">
		<!-- Load my CSS -->
		{% load static %}
		<link rel="stylesheet" href="{% static '/plants/style.css' %}">
		<!-- Other webpage info -->
		<title> saladclub • home </title>
	</head>
	<body>
		<nav class="navbar navbar-expand-sm navbar-custom">
			<a class="navbar-brand" href=""> saladclub </a>
			{% if user.is_authenticated %}
			<a class="nav-item" href="/user/{{ user.username }}"> welcome, {{ user.username }}! view your profile or </a> 
			<!-- User form to log out -->
			<form class="form-inline" method="POST">
				{% csrf_token %}
				<!-- This code was taken from Dr. J's repository, using a 
				hidden input to log the user out. --> 
				<input type="hidden" name="logout" value="logout"></input>
				<!-- Margin left is here so it's not right next to the text. Normally, the password field has "margin-right" to fix it. -->
				<button id="logout" style="margin-left: 10px;" class="btn btn-outline-light" type="submit"> log out </button>
			</form> 
			{% else %}
				<span class="navbar-text"> log in to use saladclub best :) </span>
				<!-- User form to log in -->
				<form class="form-inline" method="POST">
					{% csrf_token %}
					{{ form.non_field_errors }}
					{{ form.username.errors }}
					<span class="usernameinput"> {{ form.username }} </span>
					{{ form.password.errors }}
					<span class="usernameinput"> {{ form.password }} </span> <!-- same class to style input as username -->
					<!-- Login button --> 
					<button id="login" class="btn btn-outline-light" type="submit">log in!</button>
				</form>
			{% endif %}
		</nav>

		<br />
		<!-- Past the navbar is website content -->
		<div class="container-fluid">
			<!-- This row has two bits of information - going straight to a plant OR going straight to a user -->
			<div class="row">
				<!-- On a big screen, the visit a user takes up half and the visit a plant takes up the other half. -->
				<!-- On a thinner screen, both are their own line. -->
				<div class="col-12 col-md 6">
					<div class="info-card">
						<h1> &#127969; visit a friend </h1>
						<br />
						<p> visit a user's profile </p>
						<form method="GET"> <!-- get with target -->
							<div class="input-group">
								<!-- Insert a username -->
								<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon1">/user/</span>
								</div>
								<input type="text" class="form-control" placeholder="username" name="targetusername" aria-label="Username">
								<!-- Submit button for this form -->
								<div class="input-group-append">
									<button class="btn btn-outline-secondary" type="submit"> go </button>
								</div>
							</div>
						</form> 
					</div>
				</div>
				<!-- Essentially the exact same code as above, but it has a targetplant instead of a targetuser. -->
				<div class="col-12 col-md 6">
					<div class="info-card">
						<h1> &#127793; find a plant </h1>
						<br />
						<p> go straight to any plant page </p>
						<form method="GET">
							<div class="input-group">
								<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon1">/plant/</span>
								</div>
								<input type="text" class="form-control" placeholder="plant" name="targetplant" aria-label="Plant Name">
								<!-- Submit button for this form -->
								<div class="input-group-append">
									<button class="btn btn-outline-secondary" type="submit"> go </button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

			<hr /> <!-- vertical ruler to separate quick movement and text -->
			<div style="text-align: center;">
				<h1> &#128029; browse plants </h1> 
				<p> check out different plants, and see what people have to say about them! </p>
			</div>
			<!-- This list of plants is universal for the page regardless of if the user is logged in or not. -->
			<!-- It includes every plant in alphabetical order, which should be pretty easy to follow -->
			<p>
				{% for plant in plant_objects %}
					<div class="plantlink"> <a href="/plant/{{ plant.plant_name|lower }}/">{{ plant.plant_emoji }} {{ plant.plant_name }}</a></div>
				{% endfor %}
			</p>

			<hr /> <!-- vertical ruler to separate browsing and bottom website information -->
			<div style="text-align: center;">
				<h1> &#128027; do more </h1> 
				<p> if you're looking for something extra, it's probably here! </p>
				<h2> • </h2>
				<a href="/newAccount" style="color: #52b788;"> register a new user </a>
				<br />
			</div>
			
		</div>
	</body>
</html>	