<!DOCTYPE html>
<html>
	<head>
		<title> Post Content </title>
	</head>
	<body>
		<h1> <a href="/user/{{ post.author }}">{{ post.author }}</a> says... </h1>
		<p> {{ post.post_content }} </p>
		<h2> Replies </h2>
		{% for reply in post_replies %}
        	<li><a href="/post/{{ reply.id|add:'-1'}}/">{{ reply.post_content }}</a></li>
    	{% endfor %}
		<h2> Reply to {{ post.author }} </h2>
		<!-- Reply form (available when logged in): POST (get for now), creates a new Post object with parent object (this), reloads same post -->
		<form action ="" method="GET">
			<input type="text" value="Input text" name="reply" id="reply-text"> </input> 
			{% csrf_token %}
			<input type="submit" value="Post reply"> </input>
		</form>
	</body>
</html>	