<!DOCTYPE html>
<html>
	<head>
		<!-- Bootstrap CDN -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<!-- Karla Font -->
		<link rel="preconnect" href="https://fonts.gstatic.com"> 
		<link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,400;0,700;0,800;1,200;1,400;1,700;1,800&display=swap" rel="stylesheet">
		<!-- Load my CSS -->
		{% load static %}
		<link rel="stylesheet" href="{% static '/plants/style.css' %}">
		<!-- Other webpage info -->
		<title> saladclub • create new user </title>
	</head>
	<body>
		<!-- navbar is universal on the website -->
		<nav class="navbar navbar-expand-sm navbar-custom">
			<a class="navbar-brand" href="/"> saladclub </a>
			{% if user.is_authenticated %}
			<a class="nav-item" href="/user/{{ user.username }}"> welcome, {{ user.username }}! view your profile or </a> 
			<!-- User form to log out -->
			<form class="form-inline" action="/" method="POST">
				{% csrf_token %}
				<!-- This code was taken from Dr. J's repository, using a 
				hidden input to log the user out. --> 
				<input type="hidden" name="logout" value="logout"></input>
				<!-- Margin left is here so it's not right next to the text. Normally, the password field has "margin-right" to fix it. -->
				<button id="logout" style="margin-left: 10px;" class="btn btn-outline-light" type="submit"> log out </button>
			</form> 
			{% else %}
				<span class="navbar-text"> log in to use saladclub best :) </span>
				<!-- User form to log in -->
				<form class="form-inline" action="/" method="POST">
					{% csrf_token %}
					{{ form.non_field_errors }}
					{{ form.username.errors }}
					<span class="usernameinput"> {{ form.username }} </span>
					{{ form.password.errors }}
					<span class="usernameinput"> {{ form.password }} </span> <!-- same class to style input as username -->
					<!-- Login button --> 
					<button id="login" class="btn btn-outline-light" type="submit">log in!</button>
				</form>
			{% endif %}
		</nav>

		<br />

		<!-- If the user is logged in, don't let them register a new account. -->
		<div class="container-fluid">
			{% if not user.is_authenticated %}
			<!-- Display error messages if there are error messages caused by an improper registration -->
			{% if not warnings == "" %} 
			<div class="alert alert-danger" style="font-family: 'Karla', sans-serif;">
				<strong> something went wrong :( </strong> {{ warnings }}
			</div>
			{% endif %}
			<!-- Form to register a new account (can be a bit long) -->
			<h2> &#128154; welcome! </h2>
			<p> register your new account here. if you already have an account, log in above. </p> 
			<div style="background-color: #eee; padding: 20px; border-radius: 10px;">
				<form method="POST">
					{% csrf_token %}
					{{ newAcctForm.non_field_errors }}
					{{ newAcctForm.username.errors }}
					<span class="newuserinput"> {{ newAcctForm.username }} </span>
					{{ newAcctForm.password1.errors }}
					<span class="newuserinput"> {{ newAcctForm.password1 }} </span>
					{{ newAcctForm.password2.errors }}
					<span class="newuserinput"> {{ newAcctForm.password2 }} </span>
					<button class="btn btn-outline-dark" style="margin-top: 20px; width: 100%; font-family: 'Karla', sans-serif;" type="submit"> join the club! </button>
				</form>
			</div>
			{% else %} 
			<!-- the user is logged in (either they just made an account or were already logged in) -->
			<!-- no ability to fill out the form -->
			<h2> &#9989; congrats! you're logged in. </h2>
			<p> no need to create a new account. go <a href="/" style="color: #52b788;"> home</a> and check out the site! </p>
			{% endif %}
			<br />
			
		</div>
	</body>
</html>	